.navigation-wrapper {
  display: contents;
}
 
.navigation-container1 {
  display: contents;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-thq-navigation-logo-icon-elm1 {
  align-items: center;
  justify-content: center;
}
 
.navigation-image {
  width: 200px;
  object-fit: cover;
}
 
.navigation-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  padding: 4px 8px;
  position: relative;
  border-color: rgba(0, 0, 0, 0.45);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}
 
.navigation-thq-dropdown-toggle1 {
  gap: 4px;
  display: inline-flex;
  align-items: center;
}
 
.navigation-thq-dropdown-arrow1 {
  transition: 0.3s;
}
 
.navigation-icon10 {
  width: 18px;
  height: 18px;
}
 
.navigation-thq-dropdown-list1 {
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  flex-direction: column;
  list-style-type: none;
}
 
.navigation-thq-dropdown2 {
  cursor: pointer;
  display: inline-block;
  padding: 4px 8px;
  position: relative;
  border-color: rgba(0, 0, 0, 0.45);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}
 
.navigation-thq-dropdown-toggle2 {
  gap: 4px;
  display: inline-flex;
  align-items: center;
}
 
.navigation-thq-dropdown-arrow2 {
  transition: 0.3s;
}
 
.navigation-icon21 {
  width: 18px;
  height: 18px;
}
 
.navigation-thq-dropdown-list2 {
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  flex-direction: column;
  list-style-type: none;
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}
 
.navigation-container6 {
  display: none;
}
 
.navigation-container7 {
  display: contents;
}
 
@media(max-width: 1600px) {
  .navigation-image {
    align-self: center;
  }
}

.footer-wrapper {
  display: contents;
}
 
.footer-container1 {
  display: contents;
}
 
.footer-thq-btn-elm {
  text-decoration: none;
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}
 
.footer-thq-navlinks-elm {
  gap: 16px;
  display: flex;
  align-items: center;
}

.exterior-services-container1 {
  width: 100%;
  min-height: 100vh;
}
 
.exterior-services-container2 {
  display: none;
}
 
.exterior-services-container3 {
  display: contents;
}
